.new-graphic-novel {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.08rem;
}

.new-graphic-novel__input,
.new-graphic-novel__text-area,
.new-graphic-novel__select {
  border: 1px solid var(--color-orange-dark);
  border-radius: 8px;
  outline-color: var(--color-green-dark);
  background-color: #fff;
  margin: 10px 0 30px;
  padding: 15px;
}

.new-graphic-novel__text-area,
.new-graphic-novel__select {
  font: inherit;
}

.button-form {
  width: 120px;
  height: 50px;
  padding: 10px 15px;
  border-radius: 4px;
  background: var(--color-green-dark);
  align-self: center;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 700;
  margin-top: 20px;
}

.button-form:disabled {
  width: 120px;
  height: 50px;
  padding: 10px 15px;
  border-radius: 4px;
  background: #6ee0b14d;
  align-self: center;
  font-size: 1.2rem;
  color: #868686;
  font-weight: 700;
  margin-top: 20px;
  cursor: not-allowed;
}
