.navigation {
  background-color: var(--color-green-light);
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
}

.navigation-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  justify-items: center;
}

.navigation-list__link,
.navigation-list__button,
.navigation-list__link--inactive {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.navigation__text {
  font-size: 1.1rem;
}

.navigation-list__link,
.navigation-list__link--inactive {
  color: #000;
}

.navigation-list__link.active {
  font-weight: 600;
  border-bottom: 3px solid var(--color-orange-dark);
}
