.navigation-container {
  border-top: 1px solid var(--color-orange-light);
}

.navigation-list {
  font-size: 1.25rem;
  display: flex;
}

.navigation-list__options {
  flex: 1;
  text-align: center;
  padding: 10px 0 10px;
}

.navigation-list__options:nth-child(even) {
  border-left: 1px solid var(--color-orange-light);
}

.navigation-list__link,
.navigation-list__link--inactive {
  color: #000000;
}

.navigation-list__link.active {
  border-bottom: 3px solid #000000;
}
