.footer {
  background-color: var(--color-green-light);
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__company-data {
  display: flex;
  flex-direction: column;
  font-size: 1.03rem;
}
